export DATABASE_NAME=tils_development
export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=5432
export DATABASE_USER=
export DATABASE_PASSWORD=
export DATABASE_URL=postgres://127.0.0.1/til_development
export RACK_ENV=development
export PORT=9292
