@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
  box-sizing: border-box;
}

:root {
  --sans: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  --mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, 'Courier New', monospace;
  --retro: 'Press Start 2P', cursive;
  --c1:#1B998B;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* General settings */

body {
  margin: 0;
  font: var(--sans);
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c1);
  color: #000;
}

 /* Headlines */

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2}

h3 {font-size: 1.3125em; line-height: 1.24}

h4 {font-size: 1.1875em; line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

/* Splash */
.splash {
  position: relative;
  width: 90%;
  max-width: 1200px;
  padding-top: calc(100% / 1.77);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splash .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 700px;
  background-color: #F1EDE4;
  margin: 10% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #000;
  flex-wrap: wrap;
  border-radius: 2%;
}

.til {
  width: 90%;
  max-width: 1200px;
  position: relative;
  height: 100vh;
  margin: 10% auto;
}

.til .content {
  background-color: #F1EDE4;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #000;
  border-radius: 2%;
}

.topbar {
  width: 100%;
  height: 10%;
  border-bottom: 4px solid #000;
}

.topbar .buttons {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 2%;
  width: 12%;
  justify-content: space-between;
}

.buttons span {
  border: 2px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 60%;
  background-color: #ffeaa7;
}

.buttons span:first-child {
  background-color: #e17055;
}

.content h1 {
  font-family: var(--retro);
  font-size: 1.2rem;
  background-color: #FFD700;
  color: #000;
  box-shadow: -3px 0 0 #FFD700, 3px 0 0 #FFD700;
  width: 70%;
  text-align: center;
}

.content .button-container {
  margin-top: auto;
  position: relative;
  width: 90%;
}

.til-count {
  width: 50%;
  height: 30%;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  font-family: var(--retro);
  display: flex;
  margin-top: 3rem;
}

.til-count-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.til-count-inner p {
  display: inline-block;
  margin: 0;
}

.til-count-inner span {
  font-size: 1rem;
  align-self: center;
}

.button-container button {
  background-color: #0070C0;
  color: #fff;
  border: 2px solid #2d424d;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1em 2em;
  cursor: pointer;
  position: relative;
  font-family: var(--retro);
  width: 100%;
}

.button-container button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d424d;
  border-radius: inherit;
  box-shadow: 5px 0 0 3px #2d424d;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.button-container button:hover {
  transform: translate(0.275em, 0.275em);
  background: #3399ff;
  border: 3px solid #2d424d;
}

.button-container .btn:hover::before {
  background: none;
  box-shadow: none;
}

.button-container button:disabled {
  cursor: not-allowed;
}

.button-container button:disabled:hover {
  transform: none;
}

.button-container .share {
  display: flex;
  margin-top: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  color: #0070C0;
  padding-bottom: .5em;
}

.button-container .share:hover {
  color: #3399ff;
}

textarea.til-content::placeholder {
  color: #888;
}

textarea.til-content::-webkit-scrollbar {
  width: 12px;
}

textarea.til-content::-webkit-scrollbar-thumb {
  background-color: #0070C0;
}

.learnings {
  border: 2px solid #0070c0;
  border-radius: 0.5em;
  width: 70%;
  padding: 1em;
  overflow-y: scroll;
  max-height: 300px;
}

ul.learnings-inner {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
}

input,
label,
textarea {
  display: block;
}

input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: var(--sans);
  font-size: 1em;
  color: #0070c0;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #C0C0C0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border: solid 3px #3399FF;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

label {
  font-family: var(--retro);
  color: #0070c0;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

div#output {
  background-color: var(--c1);
  display: none;
  padding: .5em;
  font-family: var(--retro);
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  border: 2px solid #2d424d;
  border-radius: 0.5em;
  width: 70%;
  margin: 1.5em auto;
  text-align: center;
}

div#output p {
  text-align: center;
  width: 100%;
}

@media (max-width: 960px) {
  .splash {
    position: relative;
    padding-top: 0;
    height: 75vh;
  }

  .til {
    position: relative;
    padding-top: 0;
  }

  .content {
    max-height: 100%;
    height: 100%;
    position: relative;
  }

  .topbar {
    display: none;
  }

  .content h1 {
    width: 90%;
    line-height: 1.2;
    font-size: 1.5rem;
  }

  .button-container button {
    font-size: 1rem;
    padding: .5em 1em;
  }

  .button-container .share {
    font-size: 1rem;
  }
}
